.board {
  border-radius: 12px 12px 0px 0px;
  border-top: 1px solid rgba(249, 249, 249, 0.2);
  border-right: 1px solid rgba(249, 249, 249, 0.2);
  border-left: 1px solid rgba(249, 249, 249, 0.2);
}

.board-head-item-content {
  min-width: 180px;
}

.board-item-content {
  min-width: 180px;
}

.board-item-content-container {
  max-width: 180px;
}

.board-head-item {
  border-right: 0.5px solid rgba(249, 249, 249, 0.2);
  background: #30314c;
}

.board-content-item {
  border-right: 0.5px solid rgba(249, 249, 249, 0.2);
  /* background: #18152d; */
}

.custom-scrollbar::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.board-content {
  max-height: calc(100vh - 180px);
}
